# Python
__pycache__/
*.pyc
.venv/
.pytest_cache/

# Local data lake + build artifacts
.local_lake/
build/

# Terraform
terraform/.terraform/
terraform/.terraform.lock.hcl
*.tfstate
*.tfstate.*
terraform/build/
*.tfvars
!*.tfvars.example
